@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --cor-principal: #011936;
    --cor-secundaria: #A9DBB8;
    --cor-terciaria: #E2E2E2;
}

/* ..........FONTE DA EXCELENCIA.............  */
@font-face {
    font-family: 'Rezland';
    src: url(/Font/REZ.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .......... FIM FONTE DA EXCELENCIA.............  */

body {
    background-color: var(--cor-principal);
    color: white;
    font-family: 'Josefin sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 350;
}

p {
    font-weight: 200;
}

.titulo-principal {
    font-family: 'Rezland', sans-serif;
    font-weight: normal;
}

/* .................... NAVBAR TEMA ESCURO ..................  */
.botoes-maiores {
    font-size: 18px;
}

li,
a,
button {
    font-family: 'Josefin sans', sans-serif;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-principal);
}

.logo img {
    height: 30px;
    width: auto;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0 14px;

}

.nav-links li a:hover {
    color: var(--cor-secundaria);
    transition: 0.3s;
}

#planoslink {
    padding: 10px 20px;
    font-weight: 400;
    background-color: var(--cor-principal);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

#planoslink:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 1px solid var(--cor-secundaria);
    transition: 0.6s;
}


button {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: var(--cor-principal);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: 0.6s;
}

@media screen and (max-width: 832px) {

    .logo img {
        height: 28px;

    }

    li,
    a,
    button {
        font-size: 17px;
    }

    .nav-links li {
        padding: 0 6px;

    }

    #botaoentrar {

        font-size: 13px;
    }

    .botoes-maiores {
        font-size: 13px;

    }

}

@media screen and (max-width: 645px) {

    .logo img {
        height: 20px;

    }

    li,
    a,
    button {
        font-size: 14px;
    }

    .nav-links li {
        padding: 0 3px;

    }

    #botaoentrar {
        padding: 6px 12px;
        font-size: 10px;
        border-radius: 7px;
    }

    #planoslink {
        padding: 6px 12px;
        font-size: 10px;
        border-radius: 7px;
    }

}

/* .................... FIM NAVBAR TEMA ESCURO ..................  */




/* ................... CONTEÚDO PRINCIPAL INTRODUÇÃO ....................  */

#home {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.titulo-principal {
    font-size: 50px;
    max-width: 500px;
}

.subtitulo,
.texto-intro {
    padding-top: 10px;
    max-width: 500px;
    font-size: 20px;
}

.subtitulo {
    margin-top: 5px;
    font-weight: 400;
}

.texto-intro {
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 350;
}

#mulher-imagem {
    border-radius: 26px;
    width: 600px;
    max-width: 600px;
    height: auto;
    margin-left: 50px;
}

#mulher-imagem-quadrada {
    display: none;
}

.container1 {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.imagem1 {
    flex: 1;
    text-align: center;
}

/* ........................................Teste de icones do site..................................... */
/* ÍCONES - SEÇÃO PRINCIPAL */
.steps-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    padding: 80px 20px;
    text-align: center;
    background-color: var(--cor-principal);
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-width: 150px;
}

.icon {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.icon i {
    font-size: 36px;
    color: #fff;
}

.icon:hover {
    transform: scale(1.1);
}

.step p {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
}

/* RESPONSIVIDADE */
@media (max-width: 700px) {
    .steps-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .step {
        width: 100%;
        max-width: 250px;
    }
}

/* .......................................Fim do teste de icones do site....................................... */

.infos {
    width: 100%;
    height: auto;
    padding: 200px;
}

.botoestexto {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: var(--cor-principal);
    border-radius: 10px;
    font-weight: 500;
}

.botoestexto:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: 0.6s;
}





/* ...................RESPONSIVIDADE TEXTOS INTRODUÇÃO....................  */

@media screen and (max-width: 1300px) {


    #mulher-imagem {
        width: 570px;
        margin-left: 30px;
    }

    #home {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 60px;
    }

    .titulo-principal {
        font-size: 37px;
        max-width: 500px;
    }

    .subtitulo,
    .texto-intro {
        padding-top: 10px;
        max-width: 500px;
        font-size: 19px;
    }


    .botoestexto {
        font-size: 20px;
    }
}

@media screen and (max-width: 1175px) {

    #mulher-imagem {
        width: 500px;
        margin-left: 30px;
    }


    .subtitulo,
    .texto-intro {
        font-size: 17px;
    }

}

@media screen and (max-width: 1110px) {

    .container1 {
        padding: 10px;

    }

    .titulo-principal {
        font-size: 30px;
        max-width: 400px;

    }

    #mulher-imagem {
        width: 450px;
        margin-left: 30px;
    }


    .subtitulo,
    .texto-intro {
        font-size: 16px;
    }


    .botoestexto {
        font-size: 18px;
    }

}

@media screen and (max-width: 998px) {

    .titulo-principal {
        font-size: 30px;
        max-width: 400px;

    }

    #mulher-imagem {
        width: 400px;
        margin-left: 30px;
    }


    .subtitulo,
    .texto-intro {
        font-size: 14px;
    }


    .botoestexto {
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 13px;
    }

}


@media screen and (max-width: 913px) {

    .container1 {
        padding: 10px;

    }

    .titulo-principal {
        font-size: 27px;
        max-width: 400px;

    }

    #mulher-imagem {
        width: 350px;
        margin-left: 30px;
    }


    .subtitulo,
    .texto-intro {
        font-size: 12px;
    }


    .botoestexto {
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 10px;
    }

}

@media screen and (max-width: 830px) {
    #home {
        padding: 40px;
    }

    .titulo-principal {
        margin-top: 12px;
        font-size: 20px;
        max-width: 400px;

    }

    #mulher-imagem-quadrada {
        display: block;
        width: 230px;
        margin-left: 20px;
        border-radius: 20px;
    }

    #mulher-imagem {
        display: none;
    }


    .subtitulo,
    .texto-intro {
        font-size: 12px;
        max-width: 350px;
    }


    .botoestexto {
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 11px;
    }
}

@media screen and (max-width: 745px) {

    .container1 {
        padding: 10px;

    }

    #mulher-imagem-quadrada {
        display: none;
    }

    .titulo-principal {

        margin-top: 12px;
        font-size: 32px;
        max-width: 400px;

    }

    .subtitulo,
    .texto-intro {
        font-size: 15px;
        max-width: 530px;
    }


    .botoestexto {
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 17px;
    }


}

@media screen and (max-width: 400px) {
    .container1 {
        padding: 10px;

    }

    .botoestexto {
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 13px;
    }

    .titulo-principal {

        margin-top: 12px;
        font-size: 28px;
        max-width: 400px;

    }

    .subtitulo,
    .texto-intro {
        font-size: 13px;
    }

}



/* ...................FIM RESPONSIVIDADE TEXTOS INTRODUÇÃO....................  */




/* ................... FIM CONTEÚDO PRINCIPAL INTRODUÇÃO ....................  */